#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}
#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 1.8%;
    height: 23%;
    top: 27%;
    left: 49%;
    opacity: 0.8;
    
}
#minute{
    width: 1.6%;
    height: 31%;
    top: 19%;
    left: 49.3%;
    opacity: 0.8;
}
#second{
    width: 1%;
    height: 41%;
    top: 10%;
    left: 49.3%;
    opacity: 0.8;
}
    